@import "tailwindcss";
@source "../../client/**/*.{html,js,jsx,ts,tsx}";
@source "../../imports/**/*.{js,jsx,ts,tsx}";

@layer base {
  body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      sans-serif;
  }
}
